.rhap_container {
  background-color: #232323;
}

.rhap_time {
  color: #fff;
}

.rhap_progress-bar {
  background-color: #dddddd;
}

.rhap_progress-filled {
  background-color: #868686;
}

.rhap_progress-bar-show-download {
  background-color: rgba(255, 255, 255, 0.5);
}

.rhap_download-progress {
  background-color: #dddddd;
}

.rhap_progress-indicator {
  background: #868686;
  box-shadow: rgba(134, 134, 134, 0.5) 0 0 5px;
}

.rhap_repeat-button {
  color: #868686;
}

.rhap_main-controls-button {
  color: #868686;
}

.rhap_volume-button {
  color: #868686;
}

.rhap_volume-bar {
  background: #dddddd;
}

.rhap_volume-indicator {
  background: #868686;
  box-shadow: rgba(134, 134, 134, 0.5) 0 0 3px;
}

.rhap_volume-filled {
  background-color: #868686;
}
